@import "global.css";

* {
    margin: 0 auto;
}

.hero {
    max-width: 1500px;
    width: 1500px;
    height: 419px;
    background-image: url("../images/hero-image.jpg");
}

.site_hero_wrapper  {
    padding-top: 160px; padding-left: 110px;
}

.site_hero_span {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    
   
}

.site_hero_tittle {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
    padding-top: 16px;
    /* padding-left: 110px; */
}