@import "global.css";

.header {
    width: 100%;
    height: 70px;
    display: flex;
    padding: 0 110px;
    background-color: #0D0D0D;
}
.container_header {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    
}
.container_header img {
    width: 132px;
    height: 26.73px;
}
.middle_header {
    width:45%;
    display: flex;
    align-items: center;

}
    .header__list {
        display: flex;
        align-items: center;
    }
    .header__link {
        font-weight: 400;
        font-size: 25px;
        color: #FFFFFF;
        /* position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease !important; */
    }
    
   
li {
    padding: 0 25px;
    color: #FFFFFF;
   
    list-style-type: none;
}
a {
    color: #FFFFFF;
}
li a:hover {
    color: red;
}

.right_header {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.right_header div {
    padding: 10px 20px;
    background-color: #FFD2A4;
    border-radius: 12px;
}
.btn {
    width: 84px;
    height: 16px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #1C1D28;
    padding: 0px px;
    position: absolute;
    justify-content: flex-end;
}

main {
    width: 100%;
    height: 75vh;
}
.nav-item{
    background-image: url("/images/main.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 0 110px;   
    height: 100%;
    display: flex;
    align-items: center;
}
h4 {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFD2A4;
}


.headingss h1{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-transform: uppercase;
    color: #FFFFFF;
}



body {
    background: #F5F2F0;
}

.contact {
    margin-top: 120px;
    margin-bottom: 120px;
}

.container {
    max-width: 1280px;
    padding: 0 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.contact__title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact__wrapper {
    display: flex;
    align-items: center;
    gap: 130px;
    flex-wrap: wrap;
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 624px;
    width: 100%;
}

.contact__form input,
.contact__form textarea {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    padding: 20px ;
    resize: none;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 16px;
}

.contact__form input::placeholder,
.contact__form textarea::placeholder {
    color: #161722;
}

.contact__form-btn {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #FFD2A4;
    border-radius: 12px;
    border: none;
    outline: none;
    cursor: pointer;
}

.contact__right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact__right .div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}

.contact__right-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #1E1B1B;
    opacity: 0.7;
    text-decoration: none;
}

.contact__right-title2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 302px;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
    text-decoration: none;
}

.contact__end {
    display: flex;
    justify-content: space-between;
    width: 100px;
    gap: 32px;
}
.contact__end div img {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

@media (max-width: 1095px) {
    .contact__wrapper {
        justify-content: center;
    }
    .contact__title {
        text-align: center;
    }
}