@import "global.css";

.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1440px;
}


:root {
    --general:#161722;
    --general-1:#FFD2A4;
    --general-2:#FFF5EB;
    --general-3:#F5F2F0;
    --general-4:#232536;
    
}




/* -------section-1------- */


.sec-1 {
    height: 432px;
    background-image: url(../images/sermons-1.jpg);
    background-size: contain;
    background-size: 100%;
    background-repeat: no-repeat;

}

.sermon {
    padding-left: 50px;
}

.sermon h4 {
    padding-top: 160px;
    padding-bottom: 16px;
    font-weight: 700;
    font-size: 16px;
    color: var(--general-4);
}

.sermon h1 {
    font-weight: 700;
    font-size: 48px;
    color: var(--general-4);
}



/* ------section-2--------- */

.sermons-register-1 {
    text-align: center;
}


.sermons-register-1 p {
    font-weight: 400;
    font-size: 16px;
    color: var(--general);
    padding-top: 115px;
    padding-bottom: 15px;

}

.sermons-register-1 h2 {
    font-weight: 700;
    font-size: 48px;
    color: var(--general);
    padding-bottom: 64px;
}


.sermons-register-2 img {
    width: 845px;
    height: 512px;
    margin-right: -50px;
}

.sermons-register-2 {
    display: flex;
    justify-content: space-between;
    background: var(--general-2);

}

.sermons-watch {
    padding-left: 90px;
}

span {
    padding-top: 36px;
    font-size: 30px;
    position: absolute;
    margin-left: 450px;
}


.sermons-watch h5 {
    font-weight: 700;
    font-size: 12px;
    color: var(--general-1);
    padding-top: 61px;
    padding-bottom: 16px;
}


.sermons-watch h2 {
    font-size: 24px;
    line-height: 28px;
    color: var(--general);
    padding-bottom: 16px;
}


.sermons-watch p {
    font-weight: 400;
    font-size: 16px;
    color: var(--general);
    padding-bottom: 32px;
}


.sermons-watch h6 {
    font-weight: 400;
    font-size: 16px;
    color: var(--general);
    padding-bottom: 16px;
    display: inline-block;

}


.sermons-watch button {
    background: var(--general);
    padding: 24px 64px;
    border-radius: 12px;
    color: var(--general-2);
    margin-top: 32px;
}


.to-right {
    text-align: right;
    padding-top: 48px;
    padding-bottom: 125px;
}


/* ----------section-3------------ */




.sermons-sec-3{
    display: flex;
    justify-content: space-around;
    padding-bottom: 130px;
}


.sermon-rendum{
   background-color: var(--general-2);
   width: 310px;
   height: 450px;
   padding-left: 40px;
   padding-bottom: 65px;
   padding-top: 80px;
}


.semons-all{
    font-weight: 700;
font-size: 48px;
text-align: center;
padding-bottom: 70px;
}


.sermon-rendum a{
    color: var(--general-1);
    font-weight: 700;
    font-size: 12px;
}


.sermon-rendum h2{
    font-size: 24px;
    line-height: 28px;
    color: #161722;
    padding-bottom: 16px;
    padding-top: 16px;

}


.sermon-rendum p{
    font-weight: 400;
    font-size: 16px;
    color: #161722;
    padding-bottom: 32px;

}


.sermon-rendum h5{
    font-weight: 400;
    font-size: 16px;
    color: #161722;
    padding-bottom: 16px;
    display: inline-block;
   

}


.sermon-rendum:hover{
    border-bottom: 20px solid var(--general-1);
}



a:hover{
    border-bottom: 1px solid #161722;
    color: #5353f3;
}



@media screen and (max-width: 1000px; ){
    
    
    
}
 